{:deps {org.clojure/clojure {:mvn/version "1.11.2"},
        org.apache.pdfbox/pdfbox {:mvn/version "3.0.2"}
        org.apache.pdfbox/pdfbox-io {:mvn/version "3.0.2"}
        org.apache.pdfbox/pdfbox-tools {:mvn/version "3.0.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
           :runner {:extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
                    :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}}}
